body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

text {
  font: 12px sans-serif;
}

#chart1 svg {
  height: 500px;
  margin: 10px;
  min-width: 100px;
  min-height: 100px;
/*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/
}

.healthy .panel-body {
	color: #3c763d;
	/*background-color: #dff0d8;*/
}

.watch .panel-body {
	color: #8a6d3b;
	/*background-color: #fcf8e3;*/
}

.critical .panel-body {
	color: #a94442;
	/*background-color: #f2dede;*/
}

.very-critical .panel-body {
	color: #722e2d;
	/*background-color: #c0605e;*/
}